.notfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

.notfound-404 {
    font-family: sans-serif;
    color: #ececec;
    font-weight: 900;
    font-size: 76px;
}